{% extends "base.html" %}
{% block title %}ManagementPro - Изменение проекта{% endblock title %}

{% block content %}
{% if tag != "guest" and tag != "Администратор"%}
<h1>У вас нет доступа к этой странице</h1>
{% endif %}

{% if tag == "guest"%}
<h1>У вас нет доступа к этой странице</h1>
{% endif %}

{% if tag == "Администратор"%}
  <form method="POST">
      {% csrf_token %}
      <div align="center" class="container-fluid">
          <br>
          <h3>Изменение проекта {{projectTitle}}</h3>
          <br>
      </div>
<div align="center">
  <div class ="row">
    <div class="col-3">

    </div>
    <div class="col-6">
        <table class="table">
  <tbody>
    <tr>
      <th style="border: 0px; text-align: left;"><label>Название проекта:</label></th>
      <td style="border: 0px;"><input style="border-radius:5px; border:1px solid;" maxlength="150" class="container-fluid" type="text" name="title" value = "{{project.title}}" /></td>
    </tr>
    <tr>
      <th style="border: 0px; text-align: left;"><label>Описание:</label></th>
      <td style="border: 0px;"><textarea style="border-radius:5px; border:1px solid;" class="container-fluid" name="description">{{project.description}}</textarea></td>
    </tr>
    <tr>
      <th style="border: 0px; text-align: left;"><label>Триггер начала:</label></th>
      <td style="border: 0px;"><input style="border-radius:5px; border:1px solid;" maxlength="10" class="container-fluid" type="text" name="dateStart" value = "{{project.dateStart}}" /></td>
    </tr>
  <tr>
      <th style="border: 0px; text-align: left;"><label>Триггер окончания:</label></th>
      <td style="border: 0px;"><input style="border-radius:5px; border:1px solid;" maxlength="10" class="container-fluid" type="text" name="dateEnd" value = "{{project.dateEnd}}" /></td>
    </tr>
  <tr>
      <th style="border: 0px; text-align: left;"><label>Имя клиента:</label></th>
      <td style="border: 0px;"><input style="border-radius:5px; border:1px solid;" maxlength="100" class="container-fluid" type="text" name="clientName" value = "{{project.clientName}}" /></td>
    </tr>
  <tr>
      <th style="border: 0px; text-align: left;"><label>E-mail клиента:</label></th>
      <td style="border: 0px;"><input style="border-radius:5px; border:1px solid;" maxlength="254" class="container-fluid" type="text" name="email" value = "{{project.email}}" /></td>
    </tr>
  <tr>
     <th style="border: 0px; text-align: left;"><label>Номер клиента:</label></th>
      <td style="border: 0px;"><input style="border-radius:5px; border:1px solid;" maxlength="11" class="container-fluid" type="text" name="number" value = "{{project.number}}" /></td>
    </tr>
  <tr>
      <th style="border: 0px; text-align: left;"><label>Ссылки:</label></th>
      <td style="border: 0px;"><textarea style="border-radius:5px; border:1px solid;" class="container-fluid" name="link">{{project.link}}</textarea></td>
    </tr>
  </tbody>
</table>
    <pre style="color: red;">{{errorMsg}}</pre>
    <input style="font-size: 16px" type="submit" class="btn btn-sm btn-dark" value="Сохранить" >
    </div>
    <div class="col-3">

    </div>
    </div>
</div>
    </form>
{% endif %}
{% endblock content %}