{% extends "baseForm.html" %}
{% block title %}ManagementPro - Страница задачи{% endblock title %}

{% block content %}

{% if tag == "guest"%}
<h1>У вас нет доступа к этой странице</h1>
{% endif %}

{% if tag == "Администратор"%}
<form method="POST" name="form">
        {% csrf_token %}
    <br>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 col-xl-5">
                    <div align="center">
                      <br>
                    <h3>Информация</h3>
                    </div>
                    <table class="task-table">
                      <tbody>
                        <tr>
                          <th style="border: 0px; text-align: left;"><label style="font-size: 14px">Задача:</label></th>
                          <td style="border: 0px;"><input class="title-task" name ="title" maxlength="150" style="width: 100%;" value="{{ task.title }}"></input></td>
                        </tr>
                        <tr>
                          <th style="border: 0px; text-align: left;"><label>Описание:</label></th>
                          <td style="border: 0px;"><textarea class="description-task" name="description">{{task.description}}</textarea></td>
                        </tr>
                        <tr>
                          <th style="border: 0px; text-align: left;"><label>Проект:</label></th>
                          <td style="border: 0px;"><label>{{ task.titleProject }}</label></td>
                        </tr>
                        <tr>
                          <th style="border: 0px; text-align: left;"><label>Исполнитель:</label></th>
                          <td style="border: 0px;">
                            <select class="executor-task" name ="executor" style="width: 100%;">
                            {% for i in userList %}
                            {% if i.name == task.executorName %}
                                <option selected name ="executor" value={{i.id}}>{{ i.name }}</option>
                            {% endif %}
                            {% if i.name != task.executorName %}
                                <option name ="executor" value={{i.id}}>{{ i.name }}</option>
                            {% endif %}
                            {% endfor %}
                            </select>
                            </td>
                        </tr>
                        <tr>
                          <th style="border: 0px; text-align: left;"><label>Ответственный:</label></th>
                          <td style="border: 0px;"><label>{{ task.responsibleName }} </label></td>
                        </tr>
                        <tr>
                          <th style="border: 0px; text-align: left;"><label>Триггер начала:</label></th>
                          <td style="border: 0px;"><input maxlength="10" class="dateStart-task" name="dateStart" style="width: 100%;" value="{{ task.dateStart }}"></input></td>
                        </tr>
                        <tr>
                          <th style="border: 0px; text-align: left;"><label>Триггер окончания:</label></th>
                          <td style="border: 0px;"><input maxlength="10" class="dateEnd-task" name="dateEnd" style="width: 100%;" value="{{ task.dateEnd }}"></input></td>
                        </tr>
                        <tr>
                          <th style="border: 0px; text-align: left;"><label>Ссылки:</label></th>
                          <td style="border: 0px;"><textarea class="link-task" name="link">{{task.link}}</textarea></td>
                        </tr>
                        <tr>
                          <th style="border: 0px; text-align: left;"><label>Статус:</label></th>
                          <td style="border: 0px;">
                            {% if task.state == "В планах"%}
                              <select class="state-task" style="width: 100%" name="state">
                                <option selected value="В планах">В планах</option>
                                <option value="Принята">Принята</option>
                                <option value="В работе">В работе</option>
                                <option value="Сопровождение">Сопровождение</option>
                                <option value="Приостановлена">Приостановлена</option>
                                <option value="Сделана">Сделана</option>
                              </select>
                              {% endif %}
                              {% if task.state == "Принята"%}
                              <select class="state-task" style="width: 100%" name="state">
                                <option value="В планах">В планах</option>
                                <option selected value="Принята">Принята</option>
                                <option value="В работе">В работе</option>
                                <option value="Сопровождение">Сопровождение</option>
                                <option value="Приостановлена">Приостановлена</option>
                                <option value="Сделана">Сделана</option>
                              </select>
                              {% endif %}
                              {% if task.state == "В работе"%}
                              <select class="state-task" style="width: 100%" name="state">
                                <option value="В планах">В планах</option>
                                <option value="Принята">Принята</option>
                                <option selected value="В работе">В работе</option>
                                <option value="Сопровождение">Сопровождение</option>
                                <option value="Приостановлена">Приостановлена</option>
                                <option value="Сделана">Сделана</option>
                              </select>
                              {% endif %}
                              {% if task.state == "Сопровождение"%}
                              <select class="state-task" style="width: 100%" name="state">
                                <option value="В планах">В планах</option>
                                <option value="Принята">Принята</option>
                                <option value="В работе">В работе</option>
                                <option selected value="Сопровождение">Сопровождение</option>
                                <option value="Приостановлена">Приостановлена</option>
                                <option value="Сделана">Сделана</option>
                              </select>
                              {% endif %}
                              {% if task.state == "Приостановлена"%}
                              <select class="state-task" style="width: 100%" name="state">
                                <option value="В планах">В планах</option>
                                <option value="Принята">Принята</option>
                                <option value="В работе">В работе</option>
                                <option value="Сопровождение">Сопровождение</option>
                                <option selected value="Приостановлена">Приостановлена</option>
                                <option value="Сделана">Сделана</option>
                              </select>
                              {% endif %}
                              {% if task.state == "Сделана"%}
                              <select class="state-task" style="width: 100%" name="state">
                                <option value="В планах">В планах</option>
                                <option value="Принята">Принята</option>
                                <option value="В работе">В работе</option>
                                <option value="Сопровождение">Сопровождение</option>
                                <option value="Приостановлена">Приостановлена</option>
                                <option selected value="Сделана">Сделана</option>
                              </select>
                              {% endif %}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div align="center">
                      <pre style="color: red;">{{errorMsg}}</pre>
                      <input style="font-size: 16px" type="submit" class="btn btn-sm btn-dark" value="Сохранить" >
                    </div>
                </div>
                <div class="col-1">

                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <div align="center">
                    <br>
                    <h3>Обсуждение задачи</h3>
                    </div>
                    {% csrf_token %}
                    <div id="chat1" class="chat">
                        {% for message in messagesChat %}
                            {% if message.userName != name %}
                        <div class="column">
                            <div class="message-executor" style="padding: 0px 0px 0px 10px">{{ message.userName }} | {{ message.date }}</div>
                                  <div class="message-item">
                                        <p style="padding: 0px 10px 0px 10px">{{ message.messageText }}</p>
                                  </div>
                        </div>
                            {% endif %}
                            {% if message.userName == name %}
                            <div class="column">
                                    <div class="message-user" style="padding: 0px 0px 0px 10px">Вы | {{ message.date }}</div>
                                          <div class="message-item">
                                                <p style="padding: 0px 10px 0px 10px">{{ message.messageText }}</p>
                                          </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="col-1">
                        </div>
                        <div class="col-8">
                            <br>
                            <textarea onkeyup="check();" id="input" class="textarea-message" placeholder="Напишите сообщение..." name="message"></textarea>
                        </div>
                        <div class="col-2">
                            <br>
                            <input type="button" class="btn btn-sm btn-dark" id="button" value="Отправить" disabled="disabled" onclick="location.href='/saveMessage/{{task.id}}/{{idUser}}/'+document.forms['form'].elements['message'].value">
                        </div>
                        <div class="col-1">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endif %}

{% if tag != "Администратор" and tag != "guest" %}
    <form method="POST" name="form">
        {% csrf_token %}
    <br>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 col-xl-5">
                    <div align="center">
                    <h3>Информация</h3>
                    </div>
                    <table class="table">
                      <tbody>
                        <tr>
                          <th style="border: 0px; text-align: left;"><label>Название задачи:</label></th>
                          <td style="border: 0px;"><label>{{ task.title }} </label></td>
                        </tr>
                        <tr>
                          <th style="border: 0px; text-align: left;"><label>Описание:</label></th>
                          <td style="border: 0px;"><label>{{task.description}}</label></td>
                        </tr>
                        <tr>
                          <th style="border: 0px; text-align: left;"><label>Проект:</label></th>
                          <td style="border: 0px;"><label>{{ task.titleProject }}</label></td>
                        </tr>
                        <tr>
                          <th style="border: 0px; text-align: left;"><label>Исполнитель:</label></th>
                          <td style="border: 0px;">
                            {% for i in userList %}
                              {% if i.name == task.executorName %}
                                <label name ="executorName">{{i.name}}</label>
                              {% endif %}
                            {% endfor %}
                          </td>
                        </tr>
                        <tr>
                          <th style="border: 0px; text-align: left;"><label>Ответственный:</label></th>
                          <td style="border: 0px;"><label>{{ task.responsibleName }}</label></td>
                        </tr>
                        <tr>
                          <th style="border: 0px; text-align: left;"><label>Триггер начала:</label></th>
                          <td style="border: 0px;"><label>{{ task.dateStart }}</label></td>
                        </tr>
                        <tr>
                          <th style="border: 0px; text-align: left;"><label>Триггер окончания:</label></th>
                          <td style="border: 0px;"><label>{{ task.dateEnd }}</label></td>
                        </tr>
                        <tr>
                          <th style="border: 0px; text-align: left;"><label>Ссылки:</label></th>
                          <td style="border: 0px;"><textarea class="link-task" name="link">{{task.link}}</textarea></td>
                        </tr>
                        <tr>
                          <th style="border: 0px; text-align: left;"><label>Статус:</label></th>
                          <td style="border: 0px;">
                            {% if task.state == "Принята"%}
                            <select class="state-task" style="width: 100%" name="state">
                              <option selected value="Принята">Принята</option>
                              <option value="В работе">В работе</option>
                              <option value="Сопровождение">Сопровождение</option>
                              <option value="Приостановлена">Приостановлена</option>
                              <option value="Сделана">Сделана</option>
                            </select>
                            {% endif %}
                            {% if task.state == "В работе"%}
                            <select class="state-task" style="width: 100%" name="state">
                              <option value="Принята">Принята</option>
                              <option selected value="В работе">В работе</option>
                              <option value="Сопровождение">Сопровождение</option>
                              <option value="Приостановлена">Приостановлена</option>
                              <option value="Сделана">Сделана</option>
                            </select>
                            {% endif %}
                            {% if task.state == "Сопровождение"%}
                            <select class="state-task" style="width: 100%" name="state">
                              <option value="Принята">Принята</option>
                              <option value="В работе">В работе</option>
                              <option selected value="Сопровождение">Сопровождение</option>
                              <option value="Приостановлена">Приостановлена</option>
                              <option value="Сделана">Сделана</option>
                            </select>
                            {% endif %}
                            {% if task.state == "Приостановлена"%}
                            <select class="state-task" style="width: 100%" name="state">
                              <option value="Принята">Принята</option>
                              <option value="В работе">В работе</option>
                              <option value="Сопровождение">Сопровождение</option>
                              <option selected value="Приостановлена">Приостановлена</option>
                              <option value="Сделана">Сделана</option>
                            </select>
                            {% endif %}
                            {% if task.state == "Сделана"%}
                            <select class="state-task" style="width: 100%" name="state">
                              <option value="Принята">Принята</option>
                              <option value="В работе">В работе</option>
                              <option value="Сопровождение">Сопровождение</option>
                              <option value="Приостановлена">Приостановлена</option>
                              <option selected value="Сделана">Сделана</option>
                            </select>
                            {% endif %}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div align="center">
                      <pre style="color: red;">{{errorMsg}}</pre>
                      <input type="submit" class="btn btn-sm btn-dark" value="Сохранить" >
                    </div>
                </div>
                <div class="col-1">

                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <div align="center">
                    <br>
                    <h3>Обсуждение задачи</h3>
                    </div>
                    {% csrf_token %}
                    <div id="chat2" class="chat">
                        {% for message in messagesChat %}
                            {% if message.userName != name %}
                        <div class="column">
                            <div class="message-executor" style="padding: 0px 0px 0px 10px">{{ message.userName }} | {{ message.date }}</div>
                                  <div class="message-item">
                                        <p style="padding: 0px 10px 0px 10px">{{ message.messageText }}</p>
                                  </div>
                        </div>
                            {% endif %}
                            {% if message.userName == name %}
                            <div class="column">
                                    <div class="message-user" style="padding: 0px 0px 0px 10px">Вы | {{ message.date }}</div>
                                          <div class="message-item">
                                                <p style="padding: 0px 10px 0px 10px">{{ message.messageText }}</p>
                                          </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="col-1">

                        </div>
                        <div class="col-8">
                            <br>
                            <textarea onkeyup="check1();" id="input1" placeholder="Напишите сообщение..." name="message"></textarea>
                        </div>
                        <div class="col-1">
                            <br>
                            <input type="button" class="btn btn-sm btn-dark" id="button1" value="Отправить" disabled="disabled" onclick="location.href='/saveMessage/{{task.id}}/{{idUser}}/'+document.forms['form'].elements['message'].value">
                        </div>
                        <div class="col-2">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endif %}
{% endblock content %}