{% extends "base.html" %}
{% block title %}ManagementPro - Вход{% endblock title %}

{% block content %}
    <form method="POST" class="form-signin w-100 m-auto">

        {% csrf_token %}
        <br>
        <h3 align="center">Выполните вход</h3>
        <div class="w-25 p-0.5 mx-auto">
            <label style="font-size: 14px;">Логин:</label>
            <input style="font-size: 14px;" type="text" class="form-control" name="login" />
        </div>
        <div class="w-25 p-0.5 mx-auto">
            <label style="font-size: 14px;">Пароль:</label>
            <input style="font-size: 14px;" type="password" class="form-control" name="password" />
        </div>
        <div class="w-25 p-0.5 mx-auto">
            <label style="font-size: 14px; color: red;">{{ errorMsg }}</label>
        </div>
        <div align="center" class="w-50 p-3 mx-auto">
            <input type="submit" class="btn btn-sm btn-dark" value="Войти" >
        </div>
    </form>
{% endblock content %}
