{% extends "base.html" %}
{% block title %}ManagementPro - Личный кабинет{% endblock title %}

{% block content %}

{% if tag == "guest"%}
<h1>У вас нет доступа к этой странице</h1>
{% endif %}

<form class="text-center" method="POST">
        {% csrf_token %}
        <div>
            <br>
        <h3>Личный кабинет пользователя</h3>
        <a>(Здесь вы можете изменить логин и пароль для доступа к аккаунту)</a>
            <br>
        </div>
<div class="w-40 p-2 justify-content-star">
    <div class="w-35 p-2 mx-auto">
      <label style="font-size: 16px">Ваш логин: <input style="font-size: 16px"  type="text" name="login" value = "{{user.login}}" /></label>
    </div>
    <div class="w-35 p-2 mx-auto">
      <label style="font-size: 16px">Ваше имя: <input style="font-size: 16px" type="text" name="name" value = "{{user.name}}" /></label>
    </div>
    <div class="w-35 p-2 mx-auto">
      <label style="font-size: 16px">Телефон: <input style="font-size: 16px" type="text" name="number" value = "{{user.number}}" /></label>
    </div>
    <div class="w-45 p-2 mx-auto">
      <label style="font-size: 16px">Пароль: <input style="font-size: 16px" type="password" name="password" value = ""/></label>
    </div>
</div>
<div class="w-35 p-2 mx-auto">
    <input type="submit" class="w-60 btn btn-dark" name="user" value="Сохранить" >
</div>
    </form>
<hr>
{% if tag != "Администратор" and tag != "guest" %}
<form class="text-center" method="POST">
        {% csrf_token %}
        <a  class="w-35 btn btn-lg btn-dark" href="/tagUsers/">Список пользователей</a>
</form>
{% endif %}

{% if tag == "Администратор"%}
<form class="text-center" method="POST">
        {% csrf_token %}
<br>
    <div class="container-xxl">
  <div class="row">
    <div class="col-sm">
        <div>
            <h3>Добавление нового тэга для пользователей</h3>
            <br>
        </div>
        <p>
            <label>Название тэга: <input type="text" name="tagName" /> <input class="w-35 btn btn-dark" type="submit" value="Добавить" name="tag"></label><br>
        </p>
        <br>
    {% if tag == "Администратор"%}
        <a class="w-35 btn btn-dark" href="/registration/">Регистрация</a><br><br>
        <a class="w-35 btn btn-dark" href="/registrationForAdmin/">Регистрация нового администратора</a><br><br>
        <a class="w-35 btn btn-dark" href="/tagUsers/">Список пользователей</a>
    <br>
        <br>
    {% endif %}
    </div>
      <div class="col-sm" align="center">
          {% if tagList.count > 0 %}
          <form method="POST">
            <h3>Тэги пользователей:</h3>
            <table class="table-dark">
                <thead>
                <th>Тэг</th>
                <th>Действие</th>
                </thead>
                {% for tag in pageObj %}
                <tr  class="table-light">
                    <td>{{ tag.name }}</td>
                    <td><a href="deleteTag/{{tag.id}}">Удалить</a></td>
                </tr>
                {% endfor %}
            </table>
              <br>
              <br>
    </form>
          {% endif %}
      </div>
  </div>
    </div>
    </form>
{% endif %}
{% endblock content %}