{% extends "base.html" %}
{% block title %}ManagementPro - Личный кабинет{% endblock title %}

{% block content %}

{% if tag == "guest"%}
<h1>У вас нет доступа к этой странице</h1>
{% endif %}

<form class="text-center" method="POST">
        {% csrf_token %}
        <div>
            <br>
        <h3>Личный кабинет пользователя</h3>
        <a style="font-size: 14px">(Здесь вы можете изменить логин и пароль для доступа к аккаунту)</a>
            <br>
            <br>
        </div>
<div>
    <div class="w-35 mx-auto">
      <label style="font-size: 16px">Ваш логин: </label><br>
        <input style="font-size: 16px"  type="text" name="login" value = "{{user.login}}" />
    </div>
    <div class="w-35 mx-auto">
      <label style="font-size: 16px">Ваше имя: </label><br>
        <input style="font-size: 16px" type="text" name="name" value = "{{user.name}}" />
    </div>
    <div class="w-35 mx-auto">
      <label style="font-size: 16px">Телефон: </label><br>
        <input style="font-size: 16px" type="text" name="number" value = "{{user.number}}" />
    </div>
    <div class="w-45 mx-auto">
      <label style="font-size: 16px">Пароль: </label><br>
        <input style="font-size: 16px" type="password" name="password" value = ""/>
    </div>
</div>
<div class="w-35 p-2 mx-auto">
    <input type="submit" class="btn btn-dark" name="user" value="Сохранить" >
</div>
    </form>
<hr style="color: Black;">
{% if tag != "Администратор" and tag != "guest" %}
<form class="text-center" method="POST">
        {% csrf_token %}
        <a  class="btn btn-dark" href="/tagUsers/">Список пользователей</a>
</form>
{% endif %}

{% if tag == "Администратор"%}
<form class="text-center" method="POST">
        {% csrf_token %}
<br>
    <div class="container-xxl">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg">
        <div>
            <h3>Действия с пользователями:</h3>
            <br>
        </div>

    {% if tag == "Администратор"%}
        <a class="btn btn-dark" href="/registration/">Регистрация исполнителя</a><br><br>
        <a class="btn btn-dark" href="/registrationForAdmin/">Регистрация администратора</a><br><br>
        <a class="btn btn-dark" href="/tagUsers/">Список пользователей</a>
    <br>
        <br>
    {% endif %}
    </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg" align="center">
          {% if tagList.count > 0 %}
          <form method="POST">
            <h3>Добавление нового тэга для пользователя:</h3>
                <p>
                    <label>Название тэга: <input type="text" name="tagName" /> <input class="btn btn-dark" type="submit" value="Добавить" name="tag"></label><br>
                </p>
            <br>
            <h3>Список доступных тэгов для пользователей:</h3>
            <table class="table-dark">
                <thead>
                <th>Тэг</th>
                <th>Действие</th>
                </thead>
                {% for tag in pageObj %}
                <tr  class="table-light">
                    {% if tag.name == "Администратор" %}
                    <td>{{ tag.name }}</td>
                    <td>Данный тэг невозможно удалить</td>
                    {% endif %}
                    {% if tag.name != "Администратор" %}
                    <td>{{ tag.name }}</td>
                    <td><a href="deleteTag/{{tag.id}}">Удалить</a></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
              <br>
              <br>
    </form>
          {% endif %}
      </div>
  </div>
    </div>
    </form>
{% endif %}
{% endblock content %}