{% extends "base.html" %}
{% block title %}ManagementPro - Проекты{% endblock title %}

{% block content %}

{% if tag != "guest" and tag != "Администратор"%}
<h1>У вас нет доступа к этой странице</h1>
{% endif %}

{% if tag == "guest"%}
<h1>У вас нет доступа к этой странице</h1>
{% endif %}

{% if tag == "Администратор" %}
    <form method="POST" name="form">
        <div align="center" class="container-fluid">
        {% if project.count == 0 %}
            <br>
            <h3>Проекты: <a class="btn btn-dark" href="newProjectForm/">Создать проект</a></h3>
            <br>
            <h6>Проектов нет</h6>
        {% endif %}
        {% if project.count > 0 %}
        <br>
        <h3>Проекты: <a class="btn btn-dark" href="newProjectForm/">Создать проект</a></h3>
            <div class="table-responsive">
            <table class="table-dark table-condensed table-responsive">
                <thead>
                <th>Название</th>
                <th>Имя<br>клиента</th>
                <th>Дата<br>начала</th>
                <th>Дата<br>окончания</th>
                <th>E-mail</th>
                <th>Номер<br>телефона</th>
                <th>Статус</th>
                <th>Ссылки</th>
                <th>Описание</th>
                <th>Задачи</th>
                <th>Проект</th>
                </thead>

                <tr class="table-light" bgcolor="#ffffff">
                    <td style="color: #000000" colspan="11"><b>Приняты</b></td>
                </tr>
                {% for project in pageObj %}
                {% if project.state == "Принят"%}
                <tr class="table-light" bgcolor="#ffffff">
                    <td>{{ project.title }}</td>
                    <td>{{ project.clientName }}</td>
                    <td>{{ project.dateStart }}</td>
                    <td>{{ project.dateEnd }}</td>
                    <td>{{ project.email }}</td>
                    <td>{{ project.number }}</td>
                    <td><select name="state {{project.id}}" onchange="location.href='/saveEditProjectState/{{project.id}}/'+ encodeURIComponent(document.forms['form'].elements['state {{project.id}}'].value)">
                        <option selected name ="state {{project.id}}" value="Принят">Принят</option>
                        <option name ="state {{project.id}}" value="В работе">В работе</option>
                        <option name ="state {{project.id}}" value="Приостановлен">Приостановлен</option>
                        <option name ="state {{project.id}}" value="Сдан">Сдан</option>
                        </select>
                    </td>
                    <td>{{project.link}}</td>
                    <td>{{project.description}}</td>
                    <td><a href="tasks/{{project.id}}">Просмотр</a><br><br><a href="newTask/{{project.id}}">Добавить</a></td>
                    <td><a href="editProject/{{project.id}}">Изменить</a><br><br><a href="deleteProject/{{project.id}}">Удалить</a></td>
                </tr>
                {% endif %}
                {% endfor %}

                <tr style="background-color:#0990df66"  class="table-light">
                    <td style="color: #000000" colspan="11"><b>В работе</b></td>
                </tr>
                {% for project in pageObj %}
                {% if project.state == "В работе"%}
                <tr style="background-color:#0990df66"  class="table-light">
                    <td>{{ project.title }}</td>
                    <td>{{ project.clientName }}</td>
                    <td>{{ project.dateStart }}</td>
                    <td>{{ project.dateEnd }}</td>
                    <td>{{ project.email }}</td>
                    <td>{{ project.number }}</td>
                    <td><select name="state {{project.id}}" onchange="location.href='/saveEditProjectState/{{project.id}}/'+ encodeURIComponent(document.forms['form'].elements['state {{project.id}}'].value)">
                        <option name ="state {{project.id}}" value="Принят">Принят</option>
                        <option selected name ="state {{project.id}}" value="В работе">В работе</option>
                        <option name ="state {{project.id}}" value="Приостановлен">Приостановлен</option>
                        <option name ="state {{project.id}}" value="Сдан">Сдан</option>
                        </select>
                    </td>
                    <td>{{project.link}}</td>
                    <td>{{project.description}}</td>
                    <td><a href="tasks/{{project.id}}">Просмотр</a><br><br><a href="newTask/{{project.id}}">Добавить</a></td>
                    <td><a href="editProject/{{project.id}}">Изменить</a><br><br><a href="deleteProject/{{project.id}}">Удалить</a></td>
                </tr>
                {% endif %}
                {% endfor %}

                <tr class="table-light" bgcolor="#FFDF6FA3">
                    <td style="color: #000000" colspan="11"><b>Приостановлены</b></td>
                </tr>
                {% for project in pageObj %}
                {% if project.state == "Приостановлен"%}
                <tr class="table-light" bgcolor="#FFDF6FA3">
                    <td>{{ project.title }}</td>
                    <td>{{ project.clientName }}</td>
                    <td>{{ project.dateStart }}</td>
                    <td>{{ project.dateEnd }}</td>
                    <td>{{ project.email }}</td>
                    <td>{{ project.number }}</td>
                    <td><select name="state {{project.id}}" onchange="location.href='/saveEditProjectState/{{project.id}}/'+ encodeURIComponent(document.forms['form'].elements['state {{project.id}}'].value)">
                        <option name ="state {{project.id}}" value="Принят">Принят</option>
                        <option name ="state {{project.id}}" value="В работе">В работе</option>
                        <option selected name ="state {{project.id}}" value="Приостановлен">Приостановлен</option>
                        <option name ="state {{project.id}}" value="Сдан">Сдан</option>
                        </select>
                    </td>
                    <td>{{project.link}}</td>
                    <td>{{project.description}}</td>
                    <td><a href="tasks/{{project.id}}">Просмотр</a><br><br><a href="newTask/{{project.id}}">Добавить</a></td>
                    <td><a href="editProject/{{project.id}}">Изменить</a><br><br><a href="deleteProject/{{project.id}}">Удалить</a></td>
                </tr>
                {% endif %}
                {% endfor %}
            </table>
                </div>
            {% endif %}
            </div>
    </form>
{% endif %}

{% if tag == "Администратор" %}
    <form method="POST" name="form1">
        <div align="center" class="container-fluid">
        {% if completedProjectsList.count == 0 %}
            <br>
            <h3>Завершенные проекты:</h3>
            <br>
            <h6>Завершенных проектов нет</h6>
            {% endif %}
        {% if completedProjectsList.count > 0 %}
        <br>
        <h3>Завершенные проекты:</h3>
            <div class="table-responsive">
            <table class="table-dark table-condensed table-responsive">
                <thead>
                <th>Название</th>
                <th>Имя<br>клиента</th>
                <th>Дата<br>начала</th>
                <th>Дата<br>окончания</th>
                <th>E-mail</th>
                <th>Номер<br>телефона</th>
                <th>Статус</th>
                <th>Ссылки</th>
                <th>Описание</th>
                <th>Задачи</th>
                <th>Проект</th>
                </thead>
                {% for project in pageObj1 %}
                {% if project.state == "Сдан"%}
                <tr class="table-light" bgcolor="#C2DFDB">
                    <td>{{ project.title }}</td>
                    <td>{{ project.clientName }}</td>
                    <td>{{ project.dateStart }}</td>
                    <td>{{ project.dateEnd }}</td>
                    <td>{{ project.email }}</td>
                    <td>{{ project.number }}</td>
                    <td><select name="state {{project.id}}" onchange="location.href='/saveEditProjectState/{{project.id}}/'+ encodeURIComponent(document.forms['form1'].elements['state {{project.id}}'].value)">
                        <option name ="state {{project.id}}" value="Принят">Принят</option>
                        <option name ="state {{project.id}}" value="В работе">В работе</option>
                        <option selected name ="state {{project.id}}" value="Сдан">Сдан</option>
                        <option name ="state {{project.id}}" value="Приостановлен">Приостановлен</option>
                        </select>
                    </td>
                    <td>{{project.link}}</td>
                    <td>{{project.description}}</td>
                    <td><a href="tasks/{{project.id}}">Просмотр</a><br><br><a href="newTask/{{project.id}}">Добавить</a></td>
                    <td><a href="editProject/{{project.id}}">Изменить</a><br><br><a href="deleteProject/{{project.id}}">Удалить</a></td>
                </tr>
                {% endif %}
                {% endfor %}
            </table>
                </div>
            {% endif %}
            </div>
    </form>
{% endif %}
{% endblock content %}