{% extends "baseForm.html" %}
{% block title %}ManagementPro - Регистрация{% endblock title %}

{% block content %}

{% if tag != "guest" and tag != "Администратор"%}
<h1>У вас нет доступа к этой странице</h1>
{% endif %}

{% if tag == "guest"%}
<h1>У вас нет доступа к этой странице</h1>
{% endif %}

{% if tag == "Администратор" %}
    <form method="POST" action="{% url 'registrationForAdmin' %}" class="form">
        {% csrf_token %}
        <br>
        <div align="center" class="container-fluid">
            <h3>Чтобы зарегистрировать нового администратора, необходимо заполнить данные указанные ниже</h3>
        <br>
        <table align="center">
          <tbody>
          {% for field in form %}
            <tr>
              <td style="font-size: 16px"><b>{{field.label_tag}}</b></td>
              <td>{{field}}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        <div class="w-45 mx-auto">
          <pre style="font-size: 14px; color: red;">{{ errorMsg }}</pre>
      </div>
        <br>
        <input type="submit" class="btn btn-sm btn-dark" value="Зарегистрироваться" >
        </div>
    </form>
{% endif %}
{% endblock content %}