{% extends "baseForm.html" %}
{% block title %}ManagementPro - Ваши задачи{% endblock title %}

{% block content %}

{% if tag != "guest" and tag != "Администратор"%}
<h1>У вас нет доступа к этой странице</h1>
{% endif %}

{% if tag == "guest"%}
<h1>У вас нет доступа к этой странице</h1>
{% endif %}

{% if tag == "Администратор" %}
<section>
<div align="center">
    <br>
    <h3>Статистические показатели</h3>
    <div class="container">
         <div align="center">
             <br>
             <label style="font-size: 16px"><b>Проекты</b></label>
         </div>
            <table style="width: 30%" class="table">
              <tbody>
                <tr>
                  <th style="border: 0px; text-align: left;"><label style="font-size: 14px; font-weight: normal;">Всего проектов:</label></th>
                  <td style="border: 0px;">{{projectCount}}</td>
                </tr>
                <tr>
                  <th style="border: 0px; text-align: left;"><label style="font-size: 14px; font-weight: normal;">В статусе "Принят":</label></th>
                  <td style="border: 0px;">{{projectAcceptedCount}}/{{projectCount}}</td>
                </tr>
                <tr>
                  <th style="border: 0px; text-align: left;"><label style="font-size: 14px; font-weight: normal;">В статусе "В работе":</label></th>
                  <td style="border: 0px;">{{projectInWorkCount}}/{{projectCount}}</td>
                </tr>
                <tr>
                  <th style="border: 0px; text-align: left;"><label style="font-size: 14px; font-weight: normal;">В статусе "Сдан":</label></th>
                  <td style="border: 0px;">{{projectReadyCount}}/{{projectCount}}</td>
                </tr>
                <tr>
                  <th style="border: 0px; text-align: left;"><label style="font-size: 14px; font-weight: normal;">В статусе "Приостановлен":</label></th>
                  <td style="border: 0px;">{{projectStopCount}}/{{projectCount}}</td>
                </tr>
              </tbody>
            </table>

        <br>
        <div align="center">
             <label style="font-size: 16px"><b>Задачи</b></label>
         </div>
            <table style="width: 30%" class="table">
              <tbody>
                <tr>
                  <th style="border: 0px; text-align: left;"><label style="font-size: 14px; font-weight: normal;">Всего задач:</label></th>
                  <td style="border: 0px;">{{taskCount}}</td>
                </tr>
                <tr>
                  <th style="border: 0px; text-align: left;"><label style="font-size: 14px; font-weight: normal;">В статусе "Принята":</label></th>
                  <td style="border: 0px;">{{taskAcceptedCount}}/{{taskCount}}</td>
                </tr>
                <tr>
                  <th style="border: 0px; text-align: left;"><label style="font-size: 14px; font-weight: normal;">В статусе "В работе":</label></th>
                  <td style="border: 0px;">{{taskInWorkCount}}/{{taskCount}}</td>
                </tr>
              <tr>
                  <th style="border: 0px; text-align: left;"><label style="font-size: 14px; font-weight: normal;">В статусе "Сопровождение":</label></th>
                  <td style="border: 0px;">{{taskAccompanimentCount}}/{{taskCount}}</td>
                </tr>
                <tr>
                  <th style="border: 0px; text-align: left;"><label style="font-size: 14px; font-weight: normal;">В статусе "Приостановлена":</label></th>
                  <td style="border: 0px;">{{taskStopCount}}/{{taskCount}}</td>
                </tr>
                <tr>
                  <th style="border: 0px; text-align: left;"><label style="font-size: 14px; font-weight: normal;">В статусе "Сделана":</label></th>
                  <td style="border: 0px;">{{taskReadyCount}}/{{taskCount}}</td>
                </tr>
              </tbody>
            </table>
    </div>
</div>
</section>
{% endif %}

{% endblock content %}