{% extends "base.html" %}
{% block title %}ManagementPro - Статистика{% endblock title %}

{% block content %}

{% if tag != "guest" and tag != "Администратор"%}
<h1>У вас нет доступа к этой странице</h1>
{% endif %}

{% if tag == "guest"%}
<h1>У вас нет доступа к этой странице</h1>
{% endif %}

{% if tag == "Администратор" %}
<section>
<div align="center">
    <br>
    <h3>Статистические показатели</h3>
    <div class="container-fluid">
         <div align="center">
             <label style="font-size: 16px"><b>Проекты (всего: {{projectsCount}})</b></label>
             <table style="width: 30%" class="table">
              <tbody>
                <tr>
                  <th style="border: 0px; text-align: left;"><label style="font-size: 14px; font-weight: normal;">В статусе "Принят":</label></th>
                  <td style="border: 0px;">{{projectsAcceptedCount}}/{{projectsCount}}</td>
                </tr>
                <tr>
                  <th style="border: 0px; text-align: left;"><label style="font-size: 14px; font-weight: normal;">В статусе "В работе":</label></th>
                  <td style="border: 0px;">{{projectsInWorkCount}}/{{projectsCount}}</td>
                </tr>
                <tr>
                  <th style="border: 0px; text-align: left;"><label style="font-size: 14px; font-weight: normal;">В статусе "Приостановлен":</label></th>
                  <td style="border: 0px;">{{projectsStopCount}}/{{projectsCount}}</td>
                </tr>
                <tr>
                  <th style="border: 0px; text-align: left;"><label style="font-size: 14px; font-weight: normal;">В статусе "Сдан":</label></th>
                  <td style="border: 0px;">{{projectsReadyCount}}/{{projectsCount}}</td>
                </tr>
              </tbody>
            </table>
         </div>
            <table style="width: 30%" class="table">
              <tbody>
                <div class="table-responsive">
                  <table class="table-dark table-responsive">
                      <thead>
                      <th>Проекты</th>
                      <th style="background: none; border-top-left-radius: 0px; border-top-right-radius: 0px;"></th>
                      <th style="background: #444a51; border-top-left-radius: 15px; border-top-right-radius: 15px;">Задачи (колич.)</th>
                      </thead>
                      <thead>
                      <th style="border-top-left-radius: 0px; border-top-right-radius: 0px;">Наименование</th>
                      <th style="border-top-left-radius: 0px; border-top-right-radius: 0px;">Статус</th>
                      <th style="border: 1px solid black; background: #444a51; border-top-left-radius: 0px; border-top-right-radius: 0px;">всего</th>
                      <th style="border: 1px solid black; background: #444a51; border-top-left-radius: 0px; border-top-right-radius: 0px;">в статусе "В планах"</th>
                      <th style="border: 1px solid black; background: #444a51; border-top-left-radius: 0px; border-top-right-radius: 0px;">в статусе "Приняты"</th>
                      <th style="border: 1px solid black; background: #444a51; border-top-left-radius: 0px; border-top-right-radius: 0px;">в статусе "В работе"</th>
                      <th style="border: 1px solid black; background: #444a51; border-top-left-radius: 0px; border-top-right-radius: 0px;">в статусе "Сопровождение"</th>
                      <th style="border: 1px solid black; background: #444a51; border-top-left-radius: 0px; border-top-right-radius: 0px;">в статусе "Приостановлены"</th>
                      <th style="background: #444a51; border-top-left-radius: 0px; border-top-right-radius: 15px;">в статусе "Сделаны"</th>
                      </thead>
                      {% for project in projects %}
                      <tr class="table-light">
                        <td>{{ project.title }}</td>
                        <td>{{ project.state }}</td>
                        {% for key, value in taskListProjects.items %}
                            {% if key == project.id %}
                            <td>{{ value.0 }}</td>
                            <td>{{ value.1 }}</td>
                            <td>{{ value.2 }}</td>
                            <td>{{ value.3 }}</td>
                            <td>{{ value.4 }}</td>
                            <td>{{ value.5 }}</td>
                            <td>{{ value.6 }}</td>
                            {% endif %}
                        {% endfor %}
                      </tr>
                      {% endfor %}
                  </table>
                </div>
              </tbody>
            </table>
    </div>
</div>
</section>
{% endif %}
{% endblock content %}