{% extends "base.html" %}
{% block title %}ManagementPro - Пользователи{% endblock title %}

{% block content %}

{% if tag == "guest"%}
<h1>У вас нет доступа к этой странице</h1>
{% endif %}

{% if tag == "Администратор"%}
<form class="container-fluid" method="POST" name="form">
{% if usersList.count > 0 %}
    <br>
<h3 align="center">Список пользователей</h3>
<table align="center" class="table-dark">
    <thead>
    <th>Ф.И.О</th>
    <th>Номер телефона</th>
    <th>E-mail</th>
    <th>Дата рождения</th>
    <th>Тег</th>
    <th>Удалить пользователя</th>
    </thead>
    {% for user in pageObj %}
    <tr class="table-light">
        <td>{{ user.name }}</td>
        <td>{{ user.number }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.birthday }}</td>
        <td><select name ="tag {{user.id}}" onchange="location.href='/saveEdit/{{user.id}}/'+document.forms['form'].elements['tag {{user.id}}'].value">
            {% for i in tagList %}
            {% if i.name == user.tag %}
                <option selected name ="tag {{user.id}}" value={{i.name}}>{{ i.name }}</option>
            {% endif %}
            {% if i.name != user.tag %}
                <option name ="tag {{user.id}}" value={{i.name}}>{{ i.name }}</option>
            {% endif %}

            {% endfor %}
            </select>
        <td>
            {% if user.login != login %}
                <a href="/delete/{{user.id}}/">Удалить</a>
            {% endif %}
            {% if user.login == login %}
                Вы не можете удалить себя
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}
</form>
{% endif %}

{% if tag != "Администратор" and tag != "guest"%}
<form class="container-fluid" method="POST" name="form">
{% if usersList.count > 0 %}
    <br>
<h3 align="center">Список пользователей</h3>
<table align="center" class="table-dark">
    <thead>
    <th>Ф.И.О</th>
    <th>Номер телефона</th>
    <th>E-mail</th>
    <th>Дата рождения</th>
    <th>Тег</th>
    </thead>
    {% for user in pageObj %}
    <tr class="table-light">
        <td>{{ user.name }}</td>
        <td>{{ user.number }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.birthday }}</td>
        <td>{{ user.tag }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

</form>
{% endif %}
{% endblock content %}