{% extends "base.html" %}
{% block title %}ManagementPro - Задачи{% endblock title %}

{% block content %}

{% if tag != "Администратор"%}
<h1>У вас нет доступа к этой странице</h1>
{% endif %}

{% if tag == "Администратор" %}
    <form method="POST" name="form">
        <div align="center" class="container-fluid">
            {% if tasks.count == 0 %}
            <br>
            <h3>Задачи для проекта {{ projectTitle }}: <a class="btn btn-dark" href="/projects/newTask/{{id}}">Создать задачу</a></h3>
            <br>
            <h6>Для данного проекта список задач пуст</h6>
            {% endif %}
            {% if tasks.count > 0 %}
            <br>
            <h3>Задачи для проекта {{ projectTitle }}: <a class="btn btn-dark" href="/projects/newTask/{{id}}">Создать задачу</a></h3>
            <br>
            <div class="table-responsive">
            <table class="table-dark table-condensed table-responsive">
                <thead>
                <th>Задача<br>(нажмите чтобы открыть)</th>
                <th>Описание</th>
                <th>Исполнитель</th>
                <th>Дата<br>начала</th>
                <th>Дата<br>окончания</th>
                <th>Ответственный</th>
                <th>Проект</th>
                <th>Ссылки</th>
                <th>Статус</th>
                <th>Действие</th>
                </thead>
                <tr class="table-light" bgcolor="#ffffff">
                    <td style="color: #000000" colspan="11"><b>Приняты</b></td>
                </tr>
                {% for tasks in pageObj %}
                {% if tasks.state == "Принята"%}
                <tr class="table-light" bgcolor="#ffffff">
                    <td style="cursor: pointer;" data-href="/task/{{tasks.id}}">{{ tasks.title }}</td>
                    <td>{{tasks.description}}</td>
                    <td><select name ="executor {{tasks.id}}" onchange="location.href='/tasksUserSaveEditTask/{{tasks.id}}/'+ encodeURIComponent(document.forms['form'].elements['state {{tasks.id}}'].value) + '/' + encodeURIComponent(document.forms['form'].elements['executor {{tasks.id}}'].value)">
            {% for i in userList %}
            {% if i.name == tasks.executorName %}
                <option selected name ="executor {{tasks.id}}" value={{i.id}}>{{ i.name }}</option>
            {% endif %}
            {% if i.name != tasks.executorName %}
                <option name ="executor {{tasks.id}}" value={{i.id}}>{{ i.name }}</option>
            {% endif %}
            {% endfor %}
            </select>
            </td>
                    <td>{{ tasks.dateStart }}</td>
                    <td>{{ tasks.dateEnd }}</td>
                    <td>{{ tasks.responsibleName }}</td>
                    <td>{{ tasks.titleProject }}</td>
                    <td>{{tasks.link}}</td>
                    <td><select name="state {{tasks.id}}" onchange="location.href='/tasksUserSaveEditTask/{{tasks.id}}/'+ encodeURIComponent(document.forms['form'].elements['state {{tasks.id}}'].value) + '/' + encodeURIComponent(document.forms['form'].elements['executor {{tasks.id}}'].value)">
                        <option selected name ="state {{tasks.id}}" value="Принята">Принята</option>
                        <option name ="state {{tasks.id}}" value="В работе">В работе</option>
                        <option name ="state {{tasks.id}}" value="Сопровождение">Сопровождение</option>
                        <option name ="state {{tasks.id}}" value="Приостановлена">Приостановлена</option>
                        <option name ="state {{tasks.id}}" value="Сделана">Сделана</option>
                        </select>
                    </td>
                    <td><a href="/projects/tasks/deleteTask/{{tasks.id}}/">Удалить</a></td>
                </tr>
                {% endif %}
                {% endfor %}

                <tr style="background-color:#0990df66" class="table-light">
                    <td style="color: #000000" colspan="11"><b>В работе</b></td>
                </tr>
                {% for tasks in pageObj %}
                {% if tasks.state == "В работе"%}
                <tr style="background-color:#0990df66" class="table-light">
                    <td style="cursor: pointer;" data-href="/task/{{tasks.id}}">{{ tasks.title }}</td>
                    <td>{{tasks.description}}</td>
                    <td><select name ="executor {{tasks.id}}" onchange="location.href='/tasksUserSaveEditTask/{{tasks.id}}/'+ encodeURIComponent(document.forms['form'].elements['state {{tasks.id}}'].value) + '/' + encodeURIComponent(document.forms['form'].elements['executor {{tasks.id}}'].value)">
            {% for i in userList %}
            {% if i.name == tasks.executorName %}
                <option selected name ="executor {{tasks.id}}" value={{i.id}}>{{ i.name }}</option>
            {% endif %}
            {% if i.name != tasks.executorName %}
                <option name ="executor {{tasks.id}}" value={{i.id}}>{{ i.name }}</option>
            {% endif %}
            {% endfor %}
            </select>
            </td>
                    <td>{{ tasks.dateStart }}</td>
                    <td>{{ tasks.dateEnd }}</td>
                    <td>{{ tasks.responsibleName }}</td>
                    <td>{{ tasks.titleProject }}</td>
                    <td>{{tasks.link}}</td>
                    <td><select name="state {{tasks.id}}" onchange="location.href='/tasksUserSaveEditTask/{{tasks.id}}/'+ encodeURIComponent(document.forms['form'].elements['state {{tasks.id}}'].value) + '/' + encodeURIComponent(document.forms['form'].elements['executor {{tasks.id}}'].value)">
                        <option name ="state {{tasks.id}}" value="Принята">Принята</option>
                        <option selected name ="state {{tasks.id}}" value="В работе">В работе</option>
                        <option name ="state {{tasks.id}}" value="Сопровождение">Сопровождение</option>
                        <option name ="state {{tasks.id}}" value="Приостановлена">Приостановлена</option>
                        <option name ="state {{tasks.id}}" value="Сделана">Сделана</option>
                        </select>
                    </td>
                    <td><a href="/projects/tasks/deleteTask/{{tasks.id}}/">Удалить</a></td>
                </tr>
                {% endif %}
                {% endfor %}

                <tr class="table-light" bgcolor="#AE88DD">
                    <td style="color: #000000" colspan="11"><b>Сопровождение</b></td>
                </tr>
                {% for tasks in pageObj %}
                {% if tasks.state == "Сопровождение"%}
                <tr class="table-light" bgcolor="#AE88DD">
                    <td style="cursor: pointer;" data-href="/task/{{tasks.id}}">{{ tasks.title }}</td>
                    <td>{{tasks.description}}</td>
                    <td><select name ="executor {{tasks.id}}" onchange="location.href='/tasksUserSaveEditTask/{{tasks.id}}/'+ encodeURIComponent(document.forms['form'].elements['state {{tasks.id}}'].value) + '/' + encodeURIComponent(document.forms['form'].elements['executor {{tasks.id}}'].value)">
            {% for i in userList %}
            {% if i.name == tasks.executorName %}
                <option selected name ="executor {{tasks.id}}" value={{i.id}}>{{ i.name }}</option>
            {% endif %}
            {% if i.name != tasks.executorName %}
                <option name ="executor {{tasks.id}}" value={{i.id}}>{{ i.name }}</option>
            {% endif %}
            {% endfor %}
            </select>
            </td>
                    <td>{{ tasks.dateStart }}</td>
                    <td>{{ tasks.dateEnd }}</td>
                    <td>{{ tasks.responsibleName }}</td>
                    <td>{{ tasks.titleProject }}</td>
                    <td>{{tasks.link}}</td>
                    <td><select name="state {{tasks.id}}" onchange="location.href='/tasksUserSaveEditTask/{{tasks.id}}/'+ encodeURIComponent(document.forms['form'].elements['state {{tasks.id}}'].value) + '/' + encodeURIComponent(document.forms['form'].elements['executor {{tasks.id}}'].value)">
                        <option name ="state {{tasks.id}}" value="Принята">Принята</option>
                        <option name ="state {{tasks.id}}" value="В работе">В работе</option>
                        <option selected name ="state {{tasks.id}}" value="Сопровождение">Сопровождение</option>
                        <option name ="state {{tasks.id}}" value="Приостановлена">Приостановлена</option>
                        <option name ="state {{tasks.id}}" value="Сделана">Сделана</option>
                        </select>
                    </td>
                    <td><a href="/projects/tasks/deleteTask/{{tasks.id}}/">Удалить</a></td>
                </tr>
                {% endif %}
                {% endfor %}

                <tr class="table-light" bgcolor="#FFDF6FA3">
                    <td style="color: #000000" colspan="11"><b>Приостановлены</b></td>
                </tr>
                {% for tasks in pageObj %}
                {% if tasks.state == "Приостановлена"%}
                <tr class="table-light" bgcolor="#FFDF6FA3">
                    <td style="cursor: pointer;" data-href="/task/{{tasks.id}}">{{ tasks.title }}</td>
                    <td>{{tasks.description}}</td>
                    <td><select name ="executor {{tasks.id}}" onchange="location.href='/tasksUserSaveEditTask/{{tasks.id}}/'+ encodeURIComponent(document.forms['form'].elements['state {{tasks.id}}'].value) + '/' + encodeURIComponent(document.forms['form'].elements['executor {{tasks.id}}'].value)">
            {% for i in userList %}
            {% if i.name == tasks.executorName %}
                <option selected name ="executor {{tasks.id}}" value={{i.id}}>{{ i.name }}</option>
            {% endif %}
            {% if i.name != tasks.executorName %}
                <option name ="executor {{tasks.id}}" value={{i.id}}>{{ i.name }}</option>
            {% endif %}
            {% endfor %}
            </select>
            </td>
                    <td>{{ tasks.dateStart }}</td>
                    <td>{{ tasks.dateEnd }}</td>
                    <td>{{ tasks.responsibleName }}</td>
                    <td>{{ tasks.titleProject }}</td>
                    <td>{{tasks.link}}</td>
                    <td><select name="state {{tasks.id}}" onchange="location.href='/tasksUserSaveEditTask/{{tasks.id}}/'+ encodeURIComponent(document.forms['form'].elements['state {{tasks.id}}'].value) + '/' + encodeURIComponent(document.forms['form'].elements['executor {{tasks.id}}'].value)">
                        <option name ="state {{tasks.id}}" value="Принята">Принята</option>
                        <option name ="state {{tasks.id}}" value="В работе">В работе</option>
                        <option name ="state {{tasks.id}}" value="Сопровождение">Сопровождение</option>
                        <option selected name ="state {{tasks.id}}" value="Приостановлена">Приостановлена</option>
                        <option name ="state {{tasks.id}}" value="Сделана">Сделана</option>
                        </select>
                    </td>
                    <td><a href="/projects/tasks/deleteTask/{{tasks.id}}/">Удалить</a></td>
                </tr>
                {% endif %}
                {% endfor %}
            </table>
          </div>
            {% endif %}
            </div>
    </form>

    <form method="POST" name="form1">
        <div align="center" class="container-fluid">
            {% if completedTasksList.count == 0 %}
            <br>
            <h3>Завершенные задачи:</h3>
            <br>
            <h6>Для данного проекта завершенных задач нет</h6>
            {% endif %}
            {% if completedTasksList.count > 0 %}
            <br>
            <h3>Завершенные задачи:</h3>
            <br>
            <div class="table-responsive">
            <table class="table-dark table-responsive">
                <thead>
                <th>Задача<br>(нажмите чтобы открыть)</th>
                <th>Описание</th>
                <th>Исполнитель</th>
                <th>Дата<br>начала</th>
                <th>Дата<br>окончания</th>
                <th>Ответственный</th>
                <th>Проект</th>
                <th>Ссылки</th>
                <th>Статус</th>
                <th>Действие</th>
                </thead>
                {% for tasks in pageObj1 %}
                {% if tasks.state == "Сделана"%}
                <tr style="background-color:#C2DFDB" class="table-light">
                    <td style="cursor: pointer;" data-href="/task/{{tasks.id}}">{{ tasks.title }}</td>
                    <td>{{tasks.description}}</td>
                    <td><select name ="executor {{tasks.id}}" onchange="location.href='/tasksUserSaveEditTask/{{tasks.id}}/'+ encodeURIComponent(document.forms['form1'].elements['state {{tasks.id}}'].value) + '/' + encodeURIComponent(document.forms['form1'].elements['executor {{tasks.id}}'].value)">
            {% for i in userList %}
            {% if i.name == tasks.executorName %}
                <option selected name ="executor {{tasks.id}}" value={{i.id}}>{{ i.name }}</option>
            {% endif %}
            {% if i.name != tasks.executorName %}
                <option name ="executor {{tasks.id}}" value={{i.id}}>{{ i.name }}</option>
            {% endif %}
            {% endfor %}
            </select>
            </td>
                    <td>{{ tasks.dateStart }}</td>
                    <td>{{ tasks.dateEnd }}</td>
                    <td>{{ tasks.responsibleName }}</td>
                    <td>{{ tasks.titleProject }}</td>
                    <td>{{tasks.link}}</td>
                    <td><select name="state {{tasks.id}}" onchange="location.href='/tasksUserSaveEditTask/{{tasks.id}}/'+ encodeURIComponent(document.forms['form1'].elements['state {{tasks.id}}'].value) + '/' + encodeURIComponent(document.forms['form1'].elements['executor {{tasks.id}}'].value)">
                        <option name ="state {{tasks.id}}" value="Принята">Принята</option>
                        <option name ="state {{tasks.id}}" value="В работе">В работе</option>
                        <option name ="state {{tasks.id}}" value="Сопровождение">Сопровождение</option>
                        <option name ="state {{tasks.id}}" value="Приостановлена">Приостановлена</option>
                        <option selected name ="state {{tasks.id}}" value="Сделана">Сделана</option>
                        </select>
                    </td>
                    <td><a href="/projects/tasks/deleteTask/{{tasks.id}}/">Удалить</a></td>
                </tr>
                {% endif %}
            {% endfor %}
            </table>
            </div>
        </div>
    </form>
    {% endif %}
{% endif %}
{% endblock content %}